*{
    margin: 0;
    padding: 0;
}
.bb{
    display: flex;
}
.b1{
    width: 20% !important;
    border-right: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: teal;
}
.b2{
    width: 50%;
   border-right: 1px solid lightgray;
}
.b3{
    width: 30%;
    /* position: sticky;
    right: 0;
    top: 0; */
}
.ti{
    width: 50px;
    height: 50px;
}
.ti:hover{
    background-color: lightgray;
    border-radius: 100%;
}
.ttc{
    line-height: 45px;
}
.bt{
    margin-left: 40px;
}
.hi1{
    text-decoration: none;
}
.hi2{
    display: flex;
    gap: 15px;
    font-size: 22px;
    padding: 0px 10px;
    color: black;
}
.hi2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.ei1{
    text-decoration: none;
}
.ei2{
    display: flex;
    gap: 19px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.ei2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.ni1{
    text-decoration: none;
}
.ni2{
    display: flex;
    gap: 18px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
    font-weight: bold;
}
.ni2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.mi1{
    text-decoration: none;
}
.mi2{
    display: flex;
    gap: 25px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.mi2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.bi1{
    text-decoration: none;
}
.bi2{
    display: flex;
    gap: 20px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.bi2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.ti1{
    text-decoration: none;
}
.ti2{
    display: flex;
    gap: 18px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.ti2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.li1{
    text-decoration: none;
}
.li2{
    display: flex;
    gap: 18px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.li2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.pi1{
    text-decoration: none;
}
.pi2{
    display: flex;
    gap: 18px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.pi2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.mi1{
    text-decoration: none;
}
.mi2{
    display: flex;
    gap: 18px;
    font-size: 22px;
    color: black;
    padding: 0px 10px;
}
.mi2:hover{
    background-color: lightgray;
    border-radius: 20px;
    width: fit-content;
}
.tw1{
    text-decoration: none;
}
.tw{
    background-color: rgb(29,155,240);
    color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}
.bss{
    display: flex;
    justify-content: space-between;
}
.flow1{
    text-decoration: none;
}
.flow{
    background-color: blue;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    display: none;
}
.ss{
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 5px;
    padding: 6px 8px;
}
.ss:hover{
    background-color: rgba(211, 211, 211, 0.781);
}
.px12{
    border-radius: 100%;
    width: 40px;
    padding-top: 5px;
}
.px1{
    border-radius: 100%;
    width: 50px;
    padding-left: 5px;
    margin-top: 5px;
}
.sis{
    font-weight: bold;
}
.m{
    padding-top: 10px;
}
.m:focus-within .ot{
    display: block;
}
.m button{
    background: none;
    border: 0;
}
.ae{
    text-decoration: none;
}
.lo{
    text-decoration: none;
}
.ae1{
    color: black;
    border-top: 1px solid darkgray;
    padding: 10px;
}
.lo1{
    color: black;
    padding: 10px;
}
.ae1:hover{
    background-color: rgba(211, 211, 211, 0.781);
}
.lo1:hover{
    background-color: rgba(211, 211, 211, 0.781);
}
.ot{
    padding: 5px 0px;
    background-color: white;
    width: 270px;
    height: 90px;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    left: 50%;
    display: none;
}
.bs3:focus .ts1{
    display: block;
    position: absolute;
}
.st{
    background-color: rgb(247,249,249);
    height: 40px;
    width: 93%;
    border-radius: 20px;
    text-align: center;
    border: 0;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    outline: 0;
}
.st:focus{
    border: 1px solid blue;
    background-color: white;
}
.ts{
    width: 93%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 25px;
}
.ts1{
    display: none;
}
.bb4{
    width: 80%;
    height: 1030px;
    border-radius: 10px;
    background-color: rgb(247,249,249);
    margin-left: 20px;
}
.ft{
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 15px;
}
.tf{
    padding-left: 10px;
    padding-top: 10px;
}
.bft:hover{
    background-color: rgba(169, 169, 169, 0.144);
}
.bft{
    padding-left: 10px;
    line-height: 25px;
}
.hb{
    font-weight: bold;
    font-size: 15px;
}
.t2{
    font-size: 15px;
}
.sm{
    text-decoration: none;
}
.sm1:hover{
    background-color: darkgray;
    height: 30px;
    border-radius: 0px 0px 10px 10px;

}
.sm1{
    padding-left: 10px;
    color: blue;
    padding-top: 15px;
}
.sb{
    width: 90%;
    height: 270px;
    border-radius: 10px;
    background-color: rgb(247,249,249);
    margin-left: 20px;
}
.wf{
    padding-left: 10px;
    padding-top: 10px;
}
.tm1{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.sb1{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    gap: 20px;
}
.t1{
    display: flex;
    justify-content: space-between;
    width: 260px;
}
.no{
    line-height: 20px;
}
.to1{
    font-weight: bold;
}
.to1:hover{
    text-decoration: underline;
}
.fol{
    background-color: black;
    border-radius: 30px;
    color: white;
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tos{
    text-decoration: none;
}
.tos1{
    color: gray;
    padding-left: 10px;
}
.tos1:hover{
    text-decoration: underline;
}
.pp1{
    text-decoration: none;
}
.pp2{
    color: gray;
    padding-left: 10px;
}
.pp2:hover{
    text-decoration: underline;
}
.cp{
    text-decoration: none;
}
.cp1{
    color: gray;
    padding-left: 10px;
}
.cp1:hover{
    text-decoration: underline;
}
.ac{
    text-decoration: none;
}
.ac1{
    color: gray;
    padding-left: 10px;
}
.ac1:hover{
    text-decoration: underline;
}
.ai{
    text-decoration: none;
}
.ai1{
    color: gray;
    padding-left: 10px;
}
.ai1:hover{
    text-decoration: underline;
}
.mo{
    text-decoration: none;
}
.mo1{
    color: gray;
    padding-left: 10px;
}
.mo1:hover{
    text-decoration: underline;
}
.c1{
    text-decoration: none;
}
.c12{
    color: gray;
    padding-left: 10px;
}
.c12:hover{
    text-decoration: underline;
}
.bs3:focus-within .ts1{
    display: block;
}
.bs3{
    position: sticky;
    top: 0;
    background-color: white;
}
.ns{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1opx;
    /* width: 95%; */
}
.av{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
}
.under{
    border: 2px solid rgb(29,155,240);
    width: 40px;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: -5px;
}
.al{
    font-weight: bold;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    text-align: center;
}
.alldiv:hover{
    background-color: lightgray;
}
.vr{
    color: grey;
    width: 35%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.vr:hover{
    background-color: rgba(211, 211, 211, 0.521);
}
.mn{
    color: grey;
    width: 35%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mn:hover{
    background-color: rgba(211, 211, 211, 0.521);
}
.bns{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    /* width: 100%; */
}
.nn1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid lightgray;
}
.nn1:hover{
    background-color: rgba(228, 225, 225, 0.236);
}
.pxa{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.pms{
    width: 100%;
}
.mp1{
    display: flex;
    justify-content: space-between;
}
/* .mp{
    display: flex;
    gap: 10px;
} */
.po{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.po:hover{
    background-color: rgba(172, 218, 249, 0.73);
}
.mor{
    background-color: black;
    color: white;
    width: 40px;
    height: 15px;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    margin-top: 30px;
     text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.po:hover .mor{
    display: block;
}
.mp2{
    display: flex;
}
.hn{
    color: darkgray;
}
.hn1{
    color: darkgray;
}
.hn2{
    color: darkgray;
}
.tto{
    color: darkgray;
    text-decoration: none;
}
.phonepic{
    display: block;
}
.px15{
    border-radius: 100%;
    width: 40px;
    padding-left: 5px;
    margin-top: 5px;
}
.phoneicon{
    background-color: white;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    display: none;
}
.flow12{
    text-decoration: none;
}
.flow2{
    background-color: rgb(29,155,240);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin-top: 750px;
    margin-right: 10px;
    display: none;
}





@media  (max-width: 1032px){
    .home-1{
        display: none;
    }
    .sis, .ses, .m{
        display: none;
    }
    .tw{
        display: none;
    }
    .flow{
        display: grid;
    }
    .bt{
        padding-left: 10px;
    }
}

@media (max-width:1029.33px) {
    .bb4{
        width: 80%;
    }
    .st{
        width: 80%;
    }
}

@media (max-width:1020px) {
    .sb3{
        display: none;
    }
    .b3{
        width: 20%;
    }
    .b1{
        width: 22%;
    }
    .bt{
        padding-left: 30px;
    }
}
@media (max-width:870px) {
    .b1{
        width: 5%;
    }
    .bt{
        padding-left: 5px;
    }
}
@media (max-width:950px) {
    .b1{
        width: 10%;
    }
    .bt{
        padding-left: 10px;
    }
    .b2{
        width: 70%;
    }
    .b3{
        display: none;
    }
    .sb3{
        display: none;
    }
}
@media (max-width:893px) {
    .b1{
        width: 10%;
    }
    .bt{
        /* padding-left: 30%; */
    }
}

@media (max-width:414px) {
    .b1{
        display: none;
    }
    .b2{
        width: 100%;
    }
    .phoneicon{
        display: flex;
    }
    .flow2{
        display: grid;
    }
}
